*{
    margin:0;
    padding:0;box-sizing: border-box;
}

body{
    background: rgb(22,18,91);
background: linear-gradient(90deg, rgba(22,18,91,0.7548891382724965) 0%, rgba(98,217,205,1) 0%, rgba(18,65,91,0.9397630878523284) 93%);
color:rgb(255, 255, 255);
min-height: 100vh;
}

header{
    font-size:15px;
}
header,form {
min-height: 20vh;
display: flex;
justify-content: center;
align-items: center;
}

form input,form button {
    padding:0.5rem;
    font-size: 1.5rem;
    border: none;
}
form button{
   background-color:rgb(174, 166, 166);
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background-color:rgb(184, 40, 40);
    color: white;
}
.todo-container{
    display: flex;
    justify-content:center;
    align-items:center;
} 

.todo-list{
    min-width: 40%;
    list-style: none;
}

.todo {
    margin:.5rem;
    background: white;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease;
}

.todo li{
    flex:1;
    color: rgb(31, 103, 23);
    font-weight: bold;
    font-family:cursive;
    margin: 5px;;
}

.trash-btn, .complete-btn{
    background-color: rgb(86, 114, 129);
    color: white;
  border:none;
  padding: .5rem;
  padding:1rem;
  font-size: 1rem;
}

.trash-btn, .complete-btn:hover{
    background-color:rgb(184, 40, 40);
    color:black;
    transition: all 0.3s ease;
    cursor: pointer;
}

.fa-trash,
.fa-check {
pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}